body {
    width: 100%;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}

.phone-img {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}