{% extends "base_menu.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.webui-popover.min.css' %}">
{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.webui-popover.min.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'js/details.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 img-wrapper magnifier-thumb-wrapper">
                <img class="img-responsive" id="img" src="{{ item.image }}">
            </div>
            <div class="col-sm-8" id="preview">
                <a href="{{ item.url }}"><h2 id="title">{{ item.title }}</h2></a>
                <div class="rating-block col-sm-6" id="avg-rating">
                    <h4>Average user rating</h4>
                    <h2 id="rating" class="bold padding-bottom-7">{{ item.average_rating }} <small>/ 5.0</small></h2>
                    {% for rating in ratings.ticks %}
                        {% if item.average_rating >= rating %}
                            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-sm-6">
                    <h4>Rating breakdown</h4>
                    <div class="pull-left">
                        <div class="pull-left" style="width:35px; line-height:1;">
                            <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
                        </div>
                        <div class="pull-left" style="width:180px;">
                            <div class="progress" style="height:9px; margin:8px 0;">
                                <div id="progress-bar-rating-breakdown-5" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5"
                                    aria-valuemin="0" aria-valuemax="5" style="width: {{ ratings.percentage.5 }}">
                                </div>
                            </div>
                        </div>
                        <div id="label-rating-breakdown-5" class="pull-right" style="margin-left:10px;">{{ ratings.count.5 }}</div>
                    </div>
                    <div class="pull-left">
                        <div class="pull-left" style="width:35px; line-height:1;">
                            <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
                        </div>
                        <div class="pull-left" style="width:180px;">
                            <div class="progress" style="height:9px; margin:8px 0;">
                                <div id="progress-bar-rating-breakdown-4" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4"
                                    aria-valuemin="0" aria-valuemax="5" style="width: {{ ratings.percentage.4 }}">
                                </div>
                            </div>
                        </div>
                        <div id="label-rating-breakdown-4" class="pull-right" style="margin-left:10px;">{{ ratings.count.4 }}</div>
                    </div>
                    <div class="pull-left">
                        <div class="pull-left" style="width:35px; line-height:1;">
                            <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
                        </div>
                        <div class="pull-left" style="width:180px;">
                            <div class="progress" style="height:9px; margin:8px 0;">
                                <div id="progress-bar-rating-breakdown-3" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3"
                                    aria-valuemin="0" aria-valuemax="5" style="width: {{ ratings.percentage.3 }}">
                                </div>
                            </div>
                        </div>
                        <div id="label-rating-breakdown-3" class="pull-right" style="margin-left:10px;">{{ ratings.count.3 }}</div>
                    </div>
                    <div class="pull-left">
                        <div class="pull-left" style="width:35px; line-height:1;">
                            <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
                        </div>
                        <div class="pull-left" style="width:180px;">
                            <div class="progress" style="height:9px; margin:8px 0;">
                                <div id="progress-bar-rating-breakdown-2" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2"
                                    aria-valuemin="0" aria-valuemax="5" style="width: {{ ratings.percentage.2 }}">
                                </div>
                            </div>
                        </div>
                        <div id="label-rating-breakdown-2" class="pull-right" style="margin-left:10px;">{{ ratings.count.2 }}</div>
                    </div>
                    <div class="pull-left">
                        <div class="pull-left" style="width:35px; line-height:1;">
                            <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
                        </div>
                        <div class="pull-left" style="width:180px;">
                            <div class="progress" style="height:9px; margin:8px 0;">
                                <div id="progress-bar-rating-breakdown-1" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1"
                                    aria-valuemin="0" aria-valuemax="5" style="width: {{ ratings.percentage.1 }}">
                                </div>
                            </div>
                        </div>
                        <div id="label-rating-breakdown-1" class="pull-right" style="margin-left:10px;">{{ ratings.count.1 }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row col-sm-12">
            <div class="col-sm-12">
                <div class="review-block" id="review-block">
                    {% for review in reviews %}
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="review-block-name">{{ review.author.username|safe }}</div>
                                <div class="review-block-date">{{ review.date }}</div>
                                {% if review.author.id == user.id %}
                                    <form class="review-block-name" action="{% url 'home:comment_delete' item.asin %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="review_id" value="{{ review.id }}">
                                        <a href="#" onclick="confirm('Are you sure you want to delete the comment?') && this.parentNode.submit();">Delete</a>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="col-sm-10">
                                {% for rating in ratings.ticks %}
                                    {% if review.rating.rating > rating %}
                                        <button class="btn btn-warning btn-xs" type="button" aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
                                    {% else %}
                                        <button class="btn btn-default btn-grey btn-xs" type="button" aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
                                    {% endif %}
                                {% endfor %}
                                <div class="review-block-title">{{ review.title|safe }}</div>
                                <div class="review-block-description">{{ review.body|safe }}</div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin-top:40px;">
            <div class="col-md-12">
                <div class="well well-sm">
                    <div class="text-right">
                        <a class="btn btn-success btn-green" id="open-review-box">Leave a
                            Review</a>
                    </div>

                    <div class="row" id="post-review-box" style="display:none;">
                        <div class="col-md-12">
                            <form id="post-review-form" accept-charset="UTF-8" action="{% url 'home:comment_create' item.asin %}" method="post">
                                {% csrf_token %}
                                <input id="ratings-hidden" name="rating" type="hidden">
                                <input type="text" class="post-review-title form-control animated" name="title"
                                          placeholder="Enter your title here..." required>
                                <textarea class="form-control animated" cols="50" id="new-review" name="body"
                                          placeholder="Enter your review here..." rows="5" required></textarea>

                                <div class="text-right">
                                    <div id="post-rating-stars" class="stars starrr" data-rating="0"></div>
                                    <a class="btn btn-danger btn-sm" href="#" id="close-review-box"
                                       style="display:none; margin-right: 10px;">
                                        <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                                    {% if user.is_authenticated %}
                                        <button class="btn btn-success btn-lg" type="submit">Submit</button>
                                    {% else %}
                                        <a class="btn btn-success btn-lg" href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}" onclick="alert('Please login.')">Submit</a>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
