{% extends "base_menu.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<form class="selector">
    <div>
        <label for="brand">Brand</label>
        <select name="brand">
            <option value="">Brand</option>
            {% for brand in brands %}
                {% if filters and filters.brand == brand.name %}
                    <option value="{{ brand.name }}" selected>{{ brand.name }}</option>
                {% else %}
                    <option value="{{ brand.name }}">{{ brand.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="rating">Rating</label>
        <input name="rating" type="range" min="0" max="5" value="{{ filters.rating }}" step="0.1">
    </div>
    <div>
        <label for="min_price">Price</label>
        <input name="min_price" type="number" min="0" value="{{ filters.min_price }}">
        <p> - </p>
        <input name="max_price" type="number" min="0" value="{{ filters.max_price }}">
    </div>
    <button>Filter</button>
    <a id="reset" href="/">Reset</a>
</form>
<div class="gallery" id="products">
    {% for item in items %}
        <div>
            <img src="{{ item.image }}" alt="{{ item.title }}">
            <a href="{% url 'home:details' item.asin %}">{{ item.title }}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
